<!DOCTYPE html>
<html>
<head>
<title>Satori Selfcare</title>

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--FONTAWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--EXTERNAL CSS-->
<link rel="stylesheet" href="{{url_for('static', filename='s.css')}}">

</head>
<style>
    .fade-in {
        opacity: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .book-button {
        background-color: whitesmoke;
        box-shadow: 5px 10px #888888;
        color: #6814ec;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
        font-size: small;
        
    }
    .book-btn {

        background-color: whitesmoke;
        
        color: #6814ec;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
        font-size: small;

    }

    .book-button:hover {
        background-color: #ff00a2;
        color: #fff;
    }

    .book-btn:hover {
        background-color: #ff00a2;
        color: #fff;
    }


    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ff00a2;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ff00a2;
  color: white;
}


</style>
<body>

<!--HEADER-->
<header>


    <div class="logo parallelogram" style="padding: 0px;">

        <pre style="margin-left: 40px; color: white; padding: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ">Satori Self Care, LLC</pre>
    
    </div>
    
    
    <div class="topnav" id="myTopnav">
    <a href="/" class="active">HOME</a>
    
    <div class="dropdown">
    <button class="dropbtn">SERVICES
    <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content animate">
    <a href="#">Weight loss consultant</a>
    <a href="#">Men’s health </a>
    <a href="#">Holistic </a>
    <a href="#">IV hydration </a>
    <a href="#">Hair loss treatments </a>
    </div>
    </div> 
    <a href="contact">CONTACT</a>
    <a href="#about">ABOUT</a>
    <a href="#" title="SignIn" style="float:right;"><i class="fa fa-user"></i></a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    
</header>





<!--CONTAINER-->
<div class="container">
  
<section>
<em style="color: #6814ec; font-style: italic; font-family: monospace; font-size: x-large; font-weight: bold;">WELCOME TO Satori Self Care, LLC</em>
<h1>Take the world's best quality Treatment</h1>
<h4>We make the best treatments.</h4>

</section>
</div>




<!--SECTION1-->
<section class="section1">
<table>
<tr>
<td>
<div class="form">
<h4>REQUEST FOR YOUR</h4>
<h1>Consultation</h1>

<a type="button" class="btn2" href="service">BOOK APPOINTMENT</a>
</div>
</td>
<td>
<em>ABOUT US</em>
<h1>Get better care for your health</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p><a class="book-button" href="about">click to know about your provider</a> </p>
</td>
</tr>
</table>
</section>






<!--SECTION2-->
<section class="section2">
<div class="cards">
<div class="card">
<i class="fa fa-medkit"></i>
<h1>Qualified Nurses</h1>
<p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
</div>
<div class="card">
<i class="fa fa-certificate"></i>
<h1>Certified Services</h1>
<p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
</div>


</div>
</section>







<!--SECTION3-->
<section class="section3">
<div class="cards">
<div class="card">
<section>
<h1>Weight loss consultant</h1>
<h4>Accountability is as much as an important part of a diet as the diet itself!</h4>
</section>
</div>
<div class="card">
<section>
<h1>Men’s health</h1>
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
</section>
</div>
<div class="card">
<section>
<h1>Hair loss treatment</h1>
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
</section>
</div>
</div>
<div class="content">
<h1>We are well experienced doctors</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
</section>







<!--SECTION4-->
<div class="content-103">
	<div class="contain">
		<div class="row">
			<h2 class="sercies-title">Our Awesome Services</h2>
			<div class="col-md-4 col-sm-4">
			<div class="col-md-4 col-sm-4">
				<div class="service-post">
					<div class="service-content">
						<div class="service-icon">
							<i class="fa fa-user-nurse"></i>
						</div>
						<!-- .s-icon -->
						<h3 class="service-title">IV therapy</h3>
						<p class="service-description">
                            Intravenous treatments offer unparalleled benefits that surpass oral administration. With nutrients infuse directly into the bloodstream, I treatments bypass common issues such as stomach upset, absorption difficulties, and loss of potency. The direct infusion into the bloodstream also allows for much larger doses, without any gastrointestinal side effects. Our I therapies are customized to provide the perfect combination of vitamins, minerals, and medications that will help you feel your best. Whether you need to recover from a late night out or a tough workout, or are simply looking to improve your overall heath, we have the perfect solution for you. Please note that prior to administration, every patient must fill out a comprehensive medical history and undergo evaluation by one of our highly trained medical providers.
                            Don't settle for subpar health - try our I therapies today and feel the difference!
                        </p>
					</div>
					<!-- service-content -->
					<div class="service-hover"></div>
				</div>
			</div>
            <div class="service-post">
                <div class="service-content">
                    <div class="service-icon">
                        <i class="fa fa-weight-scale"></i>
                    </div>
                    <!-- service-icon -->
                    <h2 class="service-title">Weight Loss</h2>
                    <p class="service-description">
                        Did you know that diabetes is a serious health condition that can lead to a host of complications? To st. healthy, 
                        it's important to get screened for diabetes or predabetes starting at age 45, 
                        regardless of your weight. Even if you don't have any symptoms, 
                        if you're overweight or obese and have one or more additional diabetes risk tactors, 
                        you should stil get screened. So be sure to consult with your healthcare provider don't wait until 
                        it's too late - take charge of your health today!
                        
                        <button id="myBtn" class="book-btn" >click to read more...</button>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                              <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>Weight Loss</h2>
                              </div>
                              <div class="modal-body">
                                <p style="font-weight: bold;">Semuglatide</p>
                                <p>
                                    Semuglatide is a game-changing medication that belongs to a class of drugs known as GLP-1
                                    receptor agonists. It has been proven to effectively regulate blood sugar 
                                    levels in type 2 diabetes patients and has also been FDA-approved for weight loss. If you're looking for a trusted solution to manage your diabetes or kickstart your weight loss journey, book your appointment for consultation today.
                                    <p style="font-weight: bold;">Lipo mini shot</p>
                                    Lipo-Mino Mix - the ultimate solution for weight loss and optimal health! This unique blend of lipotropics. 
                                    B vitamins, and other key ingredients helps turn fat into energy, boost your immune systern, reduce appetite, and build muscle. Try it today and feel the differencel
                                    <p style="font-weight: bold;"> Gluthalamine </p>
                                    Did you know that incorporating gluthamine into your diet can provide a range of benefits? Not only can 
                                    it help your body metabolize toxins, but it can also break down free radicals, boost immune function, and much more. Give your body the support it needs by adding glutathione to your daily routine
                                    <p style="font-weight: bold;"> Vitamin B12 shot </p>
                                    Mthylcobalamin, an active form of Vitamin B12, is essential for maintaining metabolism, blood cells, 
                                    and nerve function. Low levels of B12 can lead to fatigue, anemia, 
                                    and more serious complications such as neurological impairment, infertility, 
                                    and joint pain. Supplementation is necessary for those with certain health conditions or poor nutrition. Early intervention and 
                                    B12 Teatment ate crucial for optimal physical and mental health. Book now to improve energy!
                                </p>
                                
                              </div>
                              
                            </div>
                          
                          </div>
                    </p>
                </div>
                <!-- service-content -->
                <div class="service-hover"></div>
            </div>
        </div>
			
		</div>
	</div>
</div>


<section class="section4">
<div class="title_header">
<h1>Our Logo with Slogan</h1>
</div>
<div style="display: flex; justify-content: center;" class="row">
    <div>
        <img src="{{url_for('static', filename='log.jpeg')}}"  style="width:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
    </div>
    <p style="justify-content: center; text-align: center; font-style: italic; font-family: cursive; font-weight: bolder; font-size: large; margin-top: 15%;">
        <q>The key to happiness is not to wait for it to happen, but to take the journey towards it.</q> 
    </p>
</div>

<div id="myModal" class="modal">
<span class="close cursor" onclick="closeModal()">&times;</span>
<div class="modal-content">

<div class="mySlides">
<div class="numbertext">1 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">2 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">3 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">4 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">5 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">6 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<div class="mySlides">
<div class="numbertext">7 / 7</div>
<img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<div class="caption-container">
<p id="caption"></p>
</div>
</div>
</section>






<!--FOOTER-->
<img src="https://i.ibb.co/ZLHbWJz/footer.png" class="footer_image">
<footer>
<div class="column">
<a class="footer_title">Satori Self Care, LLC</a>
<a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
<a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
<a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
<a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
</div>
<div class="column">
<a class="footer_title">OTHER LINKS</a>
<a href="#">Privacy Policy</a>
<a href="#">Terms & Conditions</a>

<a href="#">Contact Us</a>
</div>
<div class="column">
<a class="footer_title">SHORT CUT</a>
<a href="">Our Services</a>

<a href="">Our Projects</a>
<a href="about">About Us</a>
</div>

<div class="column">
<a class="footer_title">GET IN TOUCH</a>
<a title="Address"><i class="fa fa-map-marker"></i>7001 Johnnycake rd Windsor Mill, MD 21244</a>
<a href="emailto:" title="Email"><i class="fa fa-envelope"></i> satoriselfcare@gmail.com </a>
<a href="tel:" title="Contact"><i class="fa fa-phone"></i>667-375-5376</a>
</div>


<div class="sub-footer">
© Satori Self Care, LLC || All rights reserved
</div>
</footer>

<!--JAVASCRIPT-->
<script>
    //NAVIGATION
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
    
        }
    
    }

    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

</script>
</body>
</html>
