<!DOCTYPE html>
<!-- Last Published: Tue Aug 01 2023 01:00:56 GMT+0000 (Coordinated Universal Time) -->
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Home</title>
        
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="{{url_for('static', filename='s.css')}}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com" rel="preconnect"/>
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">
            WebFont.load({
                google: {
                    families: ["DM Serif Display:regular:latin,latin-ext"]
                }
            });
        </script>
        <script type="text/javascript">
            !function(o, c) {
                var n = c.documentElement
                  , t = " w-mod-";
                n.className += t + "js",
                ("ontouchstart"in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
            }(window, document);
        </script>
       
        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0]
                  , j = d.createElement(s)
                  , dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            }
            )(window, document, 'script', 'dataLayer', 'GTM-WV4ZXQJ');
        </script>
        <!-- End Google Tag Manager -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
        
        <script>
            function loadXMLCss() {
                let loadCss = new XMLHttpRequest();
                loadCss.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let newStyle = document.createElement('style');
                        newStyle.innerHTML = this.responseText
                        document.querySelector("head").append(newStyle);
                    }
                }
                ;
                loadCss.open("GET", "https://bitbucket.org/bear-plus/webflowjs/raw/313c706e361df307bdbf96f312e411d850878ac3/Launchpad/launchpad.css", true);
                loadCss.send();
            }
            ;loadXMLCss()
        </script>
    </head>
    <body data-barba="wrapper" class="body">
        <div class="gtm-wrap w-embed w-iframe">
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns?id=GTM-WV4ZXQJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
        </div>
        <header class="header show">
            <div class="container grid fuild-container header-nav w-container">
                <a id="w-node-_3974266f-f883-c9c3-5354-e55892dbc234-7095179d" href="/" aria-current="page" class="header-logo w-inline-block w--current" style="color: white; font-size: large;">
                    Satori Self Care, LLC
                </a>
                <a data-strength="40" data-cursor="toggle" data-magnetic="null" id="w-node-_14a6dd6a-0365-8deb-b1ea-2ea56f5a07b5-7095179d" href="#" class="menu-toggle hide w-inline-block" >
                    <div class="ic-menu ic-menu-1"></div>
                    <div class="ic-menu ic-menu-2"></div>
                    <div class="ic-menu ic-menu-3"></div>
                </a>
                <div id="w-node-_1b8e84c9-b241-6fa8-4535-1a035202f804-7095179d" class="header-actions">
                    <a data-strength-text="15" data-cursor="btn-sm" data-magnetic="null" data-strength="30" href="https://meetings.hubspot.com/rob620/inbound-web-lead-discovery-call" class="button btn-header w-inline-block">
                        <div data-inner="null" class="text-16 button-text mb-hidden">Book a Consultation</div>
                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9330e05d7f95_mb-arrow.svg" loading="lazy" alt="" class="btn-hearder-ic"/>
                    </a>
                </div>
                <div id="w-node-_2d8b59e5-dc8b-37ca-7989-411c99686f71-7095179d" class="header-links">
                    <a data-strength-text="10" data-cursor="text-link" data-magnetic="null" data-strength="20" href="about" class="text-20 header-link">About</a>
                    <a data-strength-text="10" data-link="approach" data-cursor="text-link" data-magnetic="null" data-strength="20" href="services" class="text-20 header-link">Service</a>
                    <a data-strength-text="10"  data-cursor="text-link" data-magnetic="null" data-strength="20" href="about" class="text-20 header-link">About</a>
                    <a data-strength-text="10" data-link="contact" data-cursor="text-link" data-magnetic="null" data-strength="20" href="contact" class="text-20 header-link">Contact</a>
                </div>
            </div>
        </header>
        <div class="abs-full nav">
            <div class="abs-full nav-bg">
                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93b0f95d7f30_nav-star-bg.png" loading="lazy" alt="" sizes="100vw" srcset="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93b0f95d7f30_nav-star-bg-p-500.png 500w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93b0f95d7f30_nav-star-bg-p-800.png 800w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93b0f95d7f30_nav-star-bg-p-1080.png 1080w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93b0f95d7f30_nav-star-bg.png 1920w" class="nav-bg-stars"/>
                <div class="sky-wrap hidden">
                    <div class="stars"></div>
                    <div class="stars1"></div>
                    <div class="stars2"></div>
                </div>
            </div>
            <div class="abs-full nav-inner">
                <div class="nav-links">
                    <a data-strength-text="15" data-link="home" data-cursor="text-nav" data-magnetic="null" data-strength="30" href="/" aria-current="page" class="nav-link active w-inline-block w--current">
                        <div class="heading h1 nav-link-txt">Home</div>
                    </a>
                    <a data-strength-text="15" data-cursor="text-nav" data-magnetic="null" data-strength="30" href="/services" class="nav-link w-inline-block">
                        <div class="heading h1 nav-link-txt">Services</div>
                    </a>
                    
                    <a data-strength-text="15" data-link="about" data-cursor="text-nav" data-magnetic="null" data-strength="30" href="about" class="nav-link w-inline-block">
                        <div class="heading h1 nav-link-txt">About</div>
                    </a>
                    <a data-strength-text="15" data-link="contact" data-cursor="text-nav" data-magnetic="null" data-strength="30" href="contact" class="nav-link w-inline-block">
                        <div class="heading h1 nav-link-txt">Contact</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper scrollmain">
            <div id="bodyWrap" data-barba="container" data-barba-namespace="home" class="body-wrap homepage">
                <div class="main">
                    <div class="sc-home-hero">
                        <div class="home-hero-bg-wrap">
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9305375d7fc8_home-hero-mountain.png" loading="eager" alt="" class="home-hero-mountain"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9302ad5d7fd4_home-hero-sun-3.png" loading="eager" width="1920" alt="" class="home-hero-sun"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9304f65d7f68_home-hero-sun.png" loading="eager" width="1920" alt="" class="home-hero-sun-mb"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca935e2b5d7f4a_home-hero-man.svg" loading="eager" alt="" class="home-hero-man"/>
                            <div class="home-hero-planets">
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9374a95d7fcd_home-hero-planet-1.png" loading="eager" alt="" class="home-hero-planet-1"/>
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca938b545d7fad_home-hero-planet-2.png" loading="eager" alt="" class="home-hero-planet-2"/>
                            </div>
                            <div class="sky-wrap hidden">
                                <div class="stars"></div>
                                <div class="stars1"></div>
                                <div class="stars2"></div>
                                <div class="shooting-start"></div>
                            </div>
                        </div>
                        <div class="container grid w-container">
                            <h1 id="w-node-b54ae1a8-d482-41cb-7e02-53f0bce33884-9b5d7ec2" class="heading h2 home-hero-title">Transformation is here, This is where the unbelievable happens.</h1>
                            <a id="w-node-_789b31e7-6d69-7bee-ca69-2a349200b7a0-9b5d7ec2" href="#" class="home-hero-circle w-inline-block">
                                <div class="home-hero-circle-inner">
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93cd545d7ef4_arrow-down.svg" loading="lazy" alt=""/>
                                </div>
                            </a>
                            <p id="w-node-_5b984201-4565-7518-341c-bf7c8d846f35-9b5d7ec2" class="text-20 home-hero-sub">
                                Here <span class="span-bold">at Satori Self Care, LLC</span>
                                we are doing what’s never been done. From groundbreaking treatments to personalized care enhanced.
                            </p>
                        </div>
                    </div>
                    <div class="sc-home-focus">
                        <div class="container grid w-container">
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9322885d7f01_focus-title.svg" loading="lazy" id="w-node-_8970f5c9-f0e2-e277-1732-ed712301267e-9b5d7ec2" alt="" class="home-focus-svg"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9329cc5d7fa6_home-focus-title-mb.svg" loading="lazy" alt="" id="w-node-b0a3e913-4d97-cdc9-1153-187501f46958-9b5d7ec2" class="home-focus-svg mb"/>
                            <h2 id="w-node-_35824bf5-b02e-c777-b180-c2b10e0b64a6-9b5d7ec2" class="heading h1 home-focus-title">Grow Your Health</h2>
                            <h3 id="w-node-e44d2414-477a-49e3-f7fd-057f6a8f0511-9b5d7ec2" class="heading h3 home-focus-subtitle">Not Your Workload.</h3>
                            <p id="w-node-_36d25c5d-9f6c-9a59-1f25-5d1aa6bd5521-9b5d7ec2" class="text-20 home-focus-sub">Instead of investing your team &#x27;s resources on tedious tasks, our HubSpot expertise gives you the freedom to lead and more time to focus on the strategic vision of your company.</p>
                            <a data-strength-text="25" data-cursor="btn-lg" data-magnetic="null" data-strength="50" id="w-node-_821992a2-bc90-06bb-6766-e81dbf69b7bf-9b5d7ec2" href="#" class="button btn-large home-focus-btn w-inline-block">
                                <div data-inner="null" class="text-20">Who we are</div>
                            </a>
                        </div>
                        <div class="home-focus-anim-wrap">
                            <div id="w-node-a9a3e30b-64c4-fc87-1eb1-107ce6ce5384-9b5d7ec2" class="home-focus-shards-wrap">
                                <div id="w-node-_7dc85deb-9d85-035d-5027-7e656d444c65-9b5d7ec2" class="home-focus-shards">
                                    <div class="shard-1 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93a8a55d7f8d_Vector%2017.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-2 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9317855d7f92_Vector%209.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-3 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93697a5d7f97_Vector%2018.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-4 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93dde45d7fa3_Vector%204.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-5 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca935ac65d7f98_Vector%205.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-6 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9354a75d7f96_Vector%2010.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-7 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93a6535d7f90_Vector%2016.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-8 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9340c25d7f93_Vector%2015.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-9 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9324e55d7f94_Vector%207.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-10 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93feab5d7f9d_Vector%208.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-11 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93aff25d7f9c_Vector%2012.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-12 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca932da25d7f88_Vector%206.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-13 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9328325d7f85_Vector%2013.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-14 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9362545d7f91_Vector%2011.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-15 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca934a7d5d7f99_Vector%2014.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                </div>
                                <div id="w-node-_5940b856-25ad-7b31-f3ee-0ef7ef08cf3f-9b5d7ec2" class="home-focus-shards">
                                    <div class="shard-1 shard mod-1">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93a8a55d7f8d_Vector%2017.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-2 shard mod-2">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9317855d7f92_Vector%209.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-3 shard mod-3">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93697a5d7f97_Vector%2018.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-4 shard mod-4">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93dde45d7fa3_Vector%204.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-5 shard mod-6">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca935ac65d7f98_Vector%205.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-6 shard mod-6">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9354a75d7f96_Vector%2010.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-7 shard mod-7">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93a6535d7f90_Vector%2016.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-8 shard mod-8">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9340c25d7f93_Vector%2015.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-9 shard mod-9">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9324e55d7f94_Vector%207.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-10 shard mod-10">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93feab5d7f9d_Vector%208.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-11 shard mod-11">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93aff25d7f9c_Vector%2012.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-12 shard mod-12">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca932da25d7f88_Vector%206.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-13 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9328325d7f85_Vector%2013.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-14 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9362545d7f91_Vector%2011.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                    <div class="shard-15 shard">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca934a7d5d7f99_Vector%2014.svg" loading="lazy" alt="" class="image-contain"/>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-e2c6a0bd-4dc2-55f5-a7e8-d7ff1c64f681-9b5d7ec2" class="container grid mod-home-focus">
                                <div id="w-node-_88c0ac76-3507-d319-a5c9-8115a634c233-9b5d7ec2" class="home-focus-anim">
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93fbed5d7fd2_home-focus-anim-bg.png" loading="lazy" alt="" class="home-focus-bh"/>
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9351c65d7fc3_home-focus-circle-svg.svg" loading="lazy" alt="" class="home-focus-anim-svg"/>
                                    <div class="home-focus-anim-circles">
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                        <div class="home-focus-anim-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-home-trans">
                        <div class="container grid w-container">
                            <div id="w-node-_758483a1-83b1-2723-ddc4-44cc963f0b1c-9b5d7ec2" class="home-trans-main">
                                <h2 class="heading h3 home-trans-title">Your End-to-End Transformation Starts Here.</h2>
                                <p class="text-20 home-trans-sub">
                                    Explore how our <strong>10-Week Revenue Accelerator</strong>
                                    can unify your people, processes and HubSpot platform around a centralized revenue strategy.
                                </p>
                                <a data-strength-text="25" data-cursor="btn-sm" data-magnetic="null" data-strength="30" href="/services" class="button home-trans-btn w-inline-block">
                                    <div class="text-16">How it works</div>
                                </a>
                            </div>
                            <div id="w-node-bf313c85-9636-be5a-bd4e-354bfd6e1311-9b5d7ec2" class="home-trans-anim">
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9334825d7f5c_home-trans-img.png" loading="lazy" width="749" id="w-node-da0548c7-ec09-d942-7ade-f300b1325d3b-9b5d7ec2" alt="" class="home-trans-bg"/>
                                <div id="w-node-_97c33b77-4a6f-1cd7-ffe5-123a0aece9ec-9b5d7ec2" class="home-trans-planet-wrap">
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9383fb5d7f67_home-trans-planet.png" loading="lazy" width="152" id="w-node-_5099ff75-d3b5-3236-ed0c-6731ee3b54d2-9b5d7ec2" alt="" class="home-trans-planet"/>
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93bd475d7f70_home-trans-step1.png" loading="lazy" id="w-node-_195e2668-d2ac-8ced-8fb3-c8972078c4c3-9b5d7ec2" data-trans="one" alt="" class="home-trans-item-img show"/>
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93418a5d7f54_home-trans-step2.png" loading="lazy" id="w-node-d4d11f56-efbc-5ec6-5e68-bdcfe0b5d665-9b5d7ec2" data-trans="two" alt="" class="home-trans-item-img"/>
                                    <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca934dfd5d7f64_home-trans-step3.png" loading="lazy" id="w-node-da2b8ace-ea1c-513b-2a53-868c862ce26f-9b5d7ec2" data-trans="three" alt="" class="home-trans-item-img"/>
                                </div>
                            </div>
                            <div id="w-node-_6a274c5c-7c07-4c24-899f-7ad5ce995233-9b5d7ec2" class="home-trans-content">
                                <a data-trans="one" id="w-node-_83bb727d-5cb5-b9d3-2292-143dc3b8b58f-9b5d7ec2" href="#" class="home-trans-item w-inline-block">
                                    <div class="trans-item-step">1.</div>
                                    <div class="trans-item-content">
                                        <h4 class="heading h4 trans-item-title">Discovery</h4>
                                        <p class="text-16 trans-item-sub">Discover a tailored journey as we explore your process challenges, pain points, and inefficiencies. We &#x27;ll guide you in finding the best path to purchase for your customers.</p>
                                    </div>
                                </a>
                                <a data-trans="two" id="w-node-_8ea6c9df-3eec-d725-af78-a7e2d67395df-9b5d7ec2" href="#" class="home-trans-item w-inline-block">
                                    <div class="trans-item-step">2.</div>
                                    <div class="trans-item-content">
                                        <h4 class="heading h4 trans-item-title">Design</h4>
                                        <p class="text-16 trans-item-sub">Get a detailed internal blueprint for your company, allowing alignment on strategy and effective communication of the ideal end-to-end process for your target buyers.</p>
                                    </div>
                                </a>
                                <a data-trans="three" id="w-node-a56cf8bd-643d-cc66-3c9a-0886c2d8c442-9b5d7ec2" href="#" class="home-trans-item w-inline-block">
                                    <div class="trans-item-step">3.</div>
                                    <div class="trans-item-content">
                                        <h4 class="heading h4 trans-item-title">Implementation</h4>
                                        <p class="text-16 trans-item-sub">Acquire a precise work estimate, focusing on high-impact transformations prioritized in an agile release plan. We &#x27;ll provide a 10-week project timeline, and our team will handle the deployment of deliverables on your behalf for added convenience.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sc-home-auto">
                        <div class="container grid w-container">
                            <div id="w-node-_72466842-9ed7-5b1b-fbbe-3ec536a0fef5-9b5d7ec2" class="heading h3 home-auto-label">With Thoughtful</div>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9332995d7efd_auto-title.svg" loading="lazy" id="w-node-f9147feb-d7cf-a32d-cdf8-0d1bdb20c0d9-9b5d7ec2" alt="" class="home-auto-svg"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca934ff25d7fc2_home-auto-title-mb.svg" loading="lazy" id="w-node-_26a2205a-7eb3-8ae5-878e-061882287254-9b5d7ec2" alt="" class="home-auto-svg mb"/>
                            <h2 id="w-node-_0971c36a-16fc-0192-4de1-fd835d087f39-9b5d7ec2" class="heading h1 home-auto-title">Everybody Wins.</h2>
                            <p id="w-node-bf241427-f31d-8597-5df7-5f54b65e856c-9b5d7ec2" class="text-20 home-auto-sub">
                                We provide <strong>Automation Experience Design (AXD)</strong>
                                as our distinct approach to building remarkable buying experiences that help you generate more <br/>predictable revenue.
                            </p>
                            <a data-strength-text="25" data-cursor="btn-lg" data-magnetic="null" data-strength="50" id="w-node-_5d78ea3c-a99b-9ee0-b0e5-aa4410276541-9b5d7ec2" href="/our-approach" class="button btn-large home-auto-btn w-inline-block">
                                <div data-inner="null" class="text-20">See our approach</div>
                            </a>
                            <div id="w-node-_069379b8-d414-26cb-3d87-a14dfac4e647-9b5d7ec2" class="orbit-wrap">
                                <div id="w-node-c09f7a24-c186-718a-3d7f-1d4e14e0523f-9b5d7ec2" class="home-auto-anim">
                                    <div id="w-node-_463b9ccf-131f-7f91-b2a1-a6d583f65a47-9b5d7ec2" class="planet">
                                        <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93d45f5d7f5e_home-auto-planet-2.png" loading="lazy" width="478.5" alt="" class="planet-img"/>
                                    </div>
                                    <div id="w-node-_463b9ccf-131f-7f91-b2a1-a6d583f65a49-9b5d7ec2" class="satellite-orbit">
                                        <div class="satellite">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9358495d7f6a_home-auto-sat.png" loading="lazy" width="58" alt="" class="satellite-img"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-auto-bg-wrap">
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93eaa15d7fc6_home-auto-bg.svg" loading="eager" id="w-node-_274190a8-2eb4-5e3e-a4b8-6a51bcb4b2d4-9b5d7ec2" alt="" class="home-auto-bg-img"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9329125d7fa0_home-auto-fg.svg" loading="eager" id="w-node-cc8ea567-a65e-40ea-eed6-391bead674a9-9b5d7ec2" alt="" class="home-auto-fg-img"/>
                        </div>
                    </div>
                    <div class="sc-home-testi">
                        <div class="container grid w-container">
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93193b5d7ef1_test-title.svg" loading="lazy" id="w-node-e8a16397-789f-5d21-df55-6fd17b1a5d9c-9b5d7ec2" alt="" class="home-test-svg"/>
                            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca9308875d7fae_home-testi-title-mb.svg" loading="lazy" id="w-node-_88f62eaa-b753-1799-40a0-c548f7a1c42a-9b5d7ec2" alt="" class="home-test-svg mb"/>
                           
                        </div>
                    </div>
                    <div class="sc-home-part">
                        <div class="container grid w-container">
                            <h3 id="w-node-_841a4d43-e9c0-d853-bc8b-1ed57942719d-9b5d7ec2" class="heading h3 home-part-title">Our Happy Partners.</h3>
                            <p id="w-node-a7b86f51-f95c-4cd2-3edc-d17635aef086-9b5d7ec2" class="text-20 home-part-sub">From early-funded start-ups to large scale operations, we partner with brands at all stages of growth over 3 continents. Together, we work across verticals and timezones to come up with bold ideas and bring them to life.</p>
                            <div id="w-node-e9cba9a6-b47a-8884-d664-d0e73acc9a0e-9b5d7ec2" class="home-part-main w-dyn-list">
                                <div role="list" class="home-part-wrap w-dyn-items">
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://members.physio-pedia.com/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/627629533c392628dc36490e_pn-physioplus.svg" loading="lazy" alt="Physioplus" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://edufolios.org/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762963883474dd3f1ec2c8_pn-edufolios.svg" loading="lazy" alt="Edufolios" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://www.hatch.team/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762973efcd355bcb9873e4_pn-hatchbeta.svg" loading="lazy" alt="Hatchbeta" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://www.intercheck.com.au/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762985abd6406a4c6a8ad8_pn-intecheck.png" loading="lazy" alt="Intercheck" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://www.delegateconnect.co/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762a31ac94b86557f50f07_pn-delegateconnect.svg" loading="lazy" alt="Delegateconnect" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://stgglobal.net/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762a8466961f762787bb9c_pn-stgglobal.svg" loading="lazy" alt="Stgglobal" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://yourcup-yourdesign.com/en/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762a9950acbb73aa534f16_pn-.svg" loading="lazy" alt="Seamless DC" class="home-part-logo"/>
                                        </a>
                                    </div>
                                    <div role="listitem" class="home-part-item-wrap w-dyn-item">
                                        <a href="https://www.unitedgmg.com/" class="home-part-item w-inline-block">
                                            <img src="https://uploads-ssl.webflow.com/62725d212bca9388195d7ecd/62762acc88347451051ec436_pn-unitedgmg.svg" loading="lazy" alt="Unitedgmg" class="home-part-logo"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container grid w-container">
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eae4-96c5eae2" class="line line-footer-top"></div>
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eae5-96c5eae2" class="ft-title">
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93118d5d7fd0_ft-title-2-mb.svg" loading="lazy" alt="" class="ft-title-img"/>
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca930aee5d7fd1_ft-title-2.svg" loading="lazy" alt="" class="ft-logo-img-mb"/>
                            </div>
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eae9-96c5eae2" class="ft-logo-wrap">
                                <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg.png" loading="eager" alt="" sizes="(max-width: 479px) 22vw, (max-width: 767px) 44vw, (max-width: 991px) 48vw, 21vw" srcset="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg-p-500.png 500w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg-p-800.png 800w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg-p-1080.png 1080w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg-p-1600.png 1600w, https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca93df005d7fcf_ft-bg.png 2306w" class="ft-logo-bg-img"/>
                                <img src="{{url_for('static', filename='log.jpeg')}}" loading="eager" alt="" width="382" class="ft-logo-img"/>
                            </div>
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eaec-96c5eae2" class="ft-info-wrap">
                                <div class="text-14 ft-copy-txt">© 2023 Satori Self Care, LLC . All Rights Reserved.</div>
                                <div class="ft-info-links">
                                    <a href="#" class="text-14 ft-info-link">Copyright</a>
                                    <a href="/terms-and-conditions" class="text-14 ft-info-link">Terms And Conditions</a>
                                    <a href="/privacy-policy" class="text-14 ft-info-link last-item">Privacy Policy</a>
                                </div>
                            </div>
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eaf6-96c5eae2" class="ft-sub">
                                <div class="ft-sub-title">Provide the best possible buying experience and convert more customers, faster.</div>
                                <a data-strength-text="15" data-cursor="btn-sm" data-magnetic="null" data-strength="30" href="contact" class="button w-inline-block">
                                    <div data-inner="null" class="text-16">Register your interest</div>
                                </a>
                            </div>
                            <div id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eafc-96c5eae2" class="ft-main">
                                <div class="line"></div>
                                <div class="ft-main-links">
                                    <a data-link="home" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eaff-96c5eae2" href="/" aria-current="page" class="text-20 ft-main-link active w--current">Home</a>
                                    <a data-link="about" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb01-96c5eae2" href="about" class="text-20 ft-main-link">About</a>
                                    <a id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb03-96c5eae2" href="/services" class="text-20 ft-main-link">Services</a>
                                    <a data-link="career" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb05-96c5eae2" href="#" class="text-20 ft-main-link hidden">Career</a>
                                    
                                    <a data-link="contact" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb09-96c5eae2" href="contact" class="text-20 ft-main-link">Contact</a>
                                </div>
                                <div class="line"></div>
                                <div class="ft-term-links">
                                    <a data-link="appr" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb0d-96c5eae2" href="mailto:hello@wearelauchpad.com" class="text-14 ft-ctc-link">81 Campbell Street Surry Hills, 2010 </a>
                                    <a data-link="appr" id="w-node-_7484c79f-3ac8-507c-a31b-a9ec96c5eb0f-96c5eae2" href="#" class="text-14 ft-ctc-link">+1 243-854-886</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div class="page-trans-wrap">
            <div class="page-trans-main"></div>
            <div class="page-trans-mask">
                <div class="page-trans-logo-wrap">
                    <img src="log.jpeg" loading="lazy" alt=""/>
                </div>
            </div>
        </div>
        <div class="abs-full loading-wrap on-edit">
            <div class="abs-box loading-inner">
                <div class="loading-main">
                    <div class="abs-box loading-dot-wrap">
                        <div class="loading-dot"></div>
                    </div>
                    <div class="loading-main-planet"></div>
                </div>
            </div>
        </div>
        <div class="abs-full hubspot-wrap">
            <img src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/62725d212bca935e245d7f02_hubspot-tag.svg" loading="lazy" alt="" class="hubspot-tag-img"/>
        </div>
        <div class="abs-full cursor-wrap on-edit">
            <div class="cursor cursor-large">
                <div class="cursor-inner"></div>
            </div>
        </div>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62725d212bca93a94a5d7ec1" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://uploads-ssl.webflow.com/62725d212bca93a94a5d7ec1/js/webflow.d2c3cd8ad.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
        <script src="https://bitbucket.org/bear-plus/webflowjs/raw/590d4359682b9fc9e2f4426181b3aae8177a814c/Ultilities/gsap-sockingly-green/minified/CustomEase.min.js" type="text/javascript"></script>
        <script src="https://bitbucket.org/bear-plus/webflowjs/raw/bc1cb34d0e223f71836b5aaff5527de1a172795c/Launchpad/gsap/SplitText.js.txt" type="text/javascript"></script>
        <script src="https://unpkg.com/@barba/core"></script>
        <script src="https://bitbucket.org/bear-plus/webflowjs/raw/63e5fd77a2b8cfee9fbde91be7bc508615adaf85/Launchpad/launchpad.js" type="text/javascript"></script>
    </body>
</html>
