<!DOCTYPE html>
<html>
<head>
<title>Testimonial</title>

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--FONTAWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--EXTERNAL CSS-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
    .testimonial-slider {
  background-color: #5072a7;
  padding: 2em 2em 3em;
}
.testimonial-title {
  color: #fff;
}
.testimonial-title h2 {
  padding-left: 0.2em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  transform: translateY(-50%);
}

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    position: absolute;
    left: 1em;
    top: 90%;
    transform: translateY(-50%);
  }
  .carousel-control-next {
    left: 5em;
  }
}

</style>

</head>



<body>
<div class="testimonial-slider">
    <div id="carouselExampleControls" class="carousel carousel-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-title">
              <i class="bi bi-quote display-1"></i>
              <h2 class="fw-bold display-6">What our customers say</h2>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-md-8">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='1.jpg')}}" class="d-block w-100" alt="Image 1"> </div>
                  <div class="card-body">
                    <h5 class="card-title">Before</h5>
                    <p class="card-text">"Before I met Nurse Practitioner Juantia, I was struggling with weight loss and had tried every diet without success. Meeting her changed my life completely." - Client 1</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='2.jpg')}}" class="d-block w-100" alt="Image 2"> </div>
                  <div class="card-body">
                    <h5 class="card-title">After</h5>
                    <p class="card-text">"After I met Nurse Practitioner Juantia, I managed to lose weight effectively with her guidance and support." - Client 1</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='3.jpg')}}" class="d-block w-100" alt="Image 3"> </div>
                  <div class="card-body">
                    <h5 class="card-title">Before</h5>
                    <p class="card-text">"Before meeting Nurse Practitioner Juantia, I had almost given up on my health goals." - Client 2</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='4.jpg')}}" class="d-block w-100" alt="Image 4"> </div>
                  <div class="card-body">
                    <h5 class="card-title">After</h5>
                    <p class="card-text">"Thanks to Nurse Practitioner Juantia, I regained my confidence and improved my overall well-being." - Client 2</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='5.jpg')}}" class="d-block w-100" alt="Image 5"> </div>
                  <div class="card-body">
                    <h5 class="card-title">Before</h5>
                    <p class="card-text">"My journey with weight loss was filled with ups and downs before I met Nurse Practitioner Juantia." - Client 3</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="{{ url_for('static', filename='6.jpg')}}" class="d-block w-100" alt="Image 6"> </div>
                  <div class="card-body">
                    <h5 class="card-title">After</h5>
                    <p class="card-text">"After following the personalized plan by Nurse Practitioner Juantia, I finally achieved my desired weight." - Client3</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
      
    <div style="display: flex; justify-content: center;" class="row">
        <div>
            <img src="{{url_for('static', filename='log.jpeg')}}"  style="width:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <p style="justify-content: center; text-align: center; font-style: italic; font-family: cursive; font-weight: bolder; font-size: large; margin-top: 15%;">
            <q>The key to happiness is not to wait for it to happen, but to take the journey towards it.</q> 
        </p>
    </div>
</body>

<script>
    var multipleCardCarousel = document.querySelector("#carouselExampleControls");

if (window.matchMedia("(min-width: 576px)").matches) {
  var carousel = new bootstrap.Carousel(multipleCardCarousel, {
    interval: false
  });
  var carouselWidth = $(".carousel-inner")[0].scrollWidth;
  var cardWidth = $(".carousel-item").width();
  var scrollPosition = 0;
  $("#carouselExampleControls .carousel-control-next").on("click", function () {
    if (scrollPosition < carouselWidth - cardWidth * 3) {
      scrollPosition += cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  $("#carouselExampleControls .carousel-control-prev").on("click", function () {
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
} else {
  $(multipleCardCarousel).addClass("slide");
}

</script>
</html>
